body
{
  font-family: 'Roboto';
  font-weight: 'Light';
  font-size: 10pt;
  text-align: center;
}

h1
{
  color: #005A5A;
  text-align: center;
  font-weight: 'Black' ;
  font-size: 32pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
}

form
{

}

.link {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

.node {
  fill: #66CC66;
  stroke: #000;
  stroke-width: 1px;
}

.node:hover {
  fill: red;
}